// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

:root {
    --pgn-color-primary: #ff2d55;
    --pgn-color-primary-base: #fe9237;

    --pgn-color-primary-hover: #d81b4a;
    --pgn-color-teal: #ff2d55;
}