// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

:root {
  --pgn-color-primary-500: #7700ff;
  --pgn-color-primary-base: #7700ff;
}