// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$primary: #E75E28 !default;
$brand: #B50000 !default;
$secondary: #B50000 !default;
$info: #B50000 !default;

$brand-primary-500: #E75E28 !important;