// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
:root {
    --pgn-color-primary: #ff2d55;
    --pgn-color-primary-base: #fe9237;

    --pgn-color-primary-hover: #d81b4a;
    --pgn-color-teal: #ff2d55;
  
}